@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap");
@import url("reset.css");



body{
  font-family: "Epilogue", sans-serif;
  text-align: center;
  background-color: #b6881d;
}

.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.wrapper>main{
    flex-grow: 1;
}


 [class*="__container"]{
    max-width: 1200px;
	margin: 0 auto;
    padding-inline: 15px;
 }


